Flask==2.2.5
Flask-JWT-Extended==4.3.1
Flask-Migrate==4.0.3
Flask-pushjack==1.0.0
Flask-SQLAlchemy==3.0.5
python-dotenv==0.21.1
gunicorn==22.0.0
psycopg2-binary==2.9.6
Django==1.11.5
py2app==0.7.3
pyparsing==2.0.1
